<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
        <img
          [src]="LogoImgPath"
          height="20"
          alt="Logo Image"
          loading="lazy"
          style="margin-top: 2px;"
        />
      </a>

      <!-- Search form -->
      <form class="input-group w-auto my-auto d-none d-sm-flex">
        <input
          autocomplete="off"
          type="search"
          class="form-control rounded"
          placeholder="Search"
          style="min-width: 125px;"
        />
        <span class="input-group-text border-0 d-none d-lg-flex">
          <mat-icon>search</mat-icon>
        </span>
      </form>
    </div>
    <!-- Center elements -->
    <mat-chip-list  class="navbar-nav flex-row d-none d-md-flex" aria-label="Fish selection">
      <mat-chip
      routerLink="/home"
      routerLinkActive="selectedNav"
      title="profile"
      >
          <span>
            <mat-icon>
              home
            </mat-icon>
          </span> &nbsp; Home
      </mat-chip>
      <mat-chip>
        <mat-icon>
          notifications
        </mat-icon>
        search
        <span class="badge rounded-pill badge-notification bg-danger">12</span>
      </mat-chip>
    </mat-chip-list>
    <!-- Right elements -->
    <mat-chip-list aria-label="Fish selection">
      <mat-chip
        routerLink="/login"
        routerLinkActive="selectedNav"
        title="login"
        >
          <span>
            <mat-icon>
              login
            </mat-icon>
          </span> &nbsp; Login
      </mat-chip>
      <mat-chip
        routerLink="/register"
        routerLinkActive="selectedNav"
        title="register"
        >
          <span>
            <mat-icon>
              how_to_reg
            </mat-icon>
          </span> &nbsp; Register
      </mat-chip>
      <mat-chip
        routerLink="/home"
        routerLinkActive="selectedNav"
        title="profile"
        *ngIf="isLoggedIn"
        >
          <img
            src="https://mdbootstrap.com/img/new/avatars/1.webp"
            class="rounded-circle"
            height="22"
            alt=""
            loading="lazy"
          />
          <strong
          class="d-none d-sm-block ms-1"
          >
          &nbsp; John
          </strong>
      </mat-chip>
    </mat-chip-list>
  </div>
</nav>

